@{
    ViewBag.Title = "Home Page";
}

<br/>
<div class="col-md-8 col-md-offset-2 col-lg-8 col-md-offset-2">
    @foreach (var article in ViewBag.NewsArticles)
    {
        <div style="margin: 15px; margin-bottom: 20px;">
            
            @Html.ActionLink((string)article.Headline, "News", "News", new { newsID = article.NewsID }, new { @class = "h4"})
            <p>@article.Body</p>
        </div>
    }
</div>