@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8 col-md-offset-2 col-lg-8 col-md-offset-2">
    <h3>@ViewBag.News.Headline</h3>

    <img src="@ViewBag.News.ImageUrl" style="margin: 10px;"/>

    @Html.Raw(@ViewBag.News.Body)
</div>